apiVersion: kdeps.io/v1
kind: Workflow

metadata:
  name: {{ name }}
  description: {{ description }}
  version: "{{ version }}"
  targetActionId: response

settings:
  apiServer:
    hostIp: "0.0.0.0"
    portNum: {{ port }}
    routes:
      - path: /api/v1/chat
        methods: [POST]
