apiVersion: v1
kind: Service
metadata:
  name: {{ .Name }}
  labels:
    app: {{ .Name }}
spec:
  selector:
    app: {{ .Name }}
  ports:
  {{- if .APIPort }}
  - name: api
    port: {{ .APIPort }}
    targetPort: api
  {{- end }}
  {{- if .WebServerPort }}
  - name: web
    port: {{ .WebServerPort }}
    targetPort: web
  {{- end }}
  {{- if .BackendPort }}
  - name: backend
    port: {{ .BackendPort }}
    targetPort: backend
  {{- end }}
  type: ClusterIP
