apiVersion: v2
kind: Resource
metadata:
  actionId: response
  name: API Response
  description: Format API response
run:
  apiResponse:
    response:
      success: true
      data:
        result: "{% raw %}{{ get('result') }}{% endraw %}"
      meta:
        timestamp: "{% raw %}{{ info('current_time') }}{% endraw %}"
        requestId: "{% raw %}{{ info('request.ID') }}{% endraw %}"
