name: Build and Test

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.5.0
          args: --timeout=5m --config=.golangci.yml
          only-new-issues: false

  test:
    runs-on: ubuntu-latest
    env:
      UV_NO_CACHE: 1
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Install uv
      run: curl -LsSf https://astral.sh/uv/install.sh | sh && echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Install ollama
      run: |
        curl -fsSL https://ollama.com/install.sh | sh
        ollama --version

    # We need golangci-lint installed because 'make test-unit' depends on 'lint'
    - name: Install golangci-lint
      run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.5.0

    - name: Build
      run: make build

    - name: Test Unit
      run: timeout 5m make test-unit

    - name: Start Ollama
      run: |
        ollama serve &
        sleep 5

    - name: Test Integration
      run: timeout 5m make test-integration

    - name: Test E2E
      run: timeout 5m make test-e2e
