name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Release with GoReleaser Cross
        run: |
          docker run \
            --rm \
            --entrypoint /bin/sh \
            -e GITHUB_TOKEN=${{ secrets.RELEASE_TOKEN }} \
            -v $(pwd):/src \
            -w /src \
            ghcr.io/goreleaser/goreleaser-cross:latest \
            -c "git config --global --add safe.directory /src && goreleaser release --clean"